{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>broadcastd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 5rem;
        }
    </style>
    <script src="/static/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/scripts/popper.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
</head>
<body>
{{template "navbar"}}
{{end}}